<div class="container">

    <div style="float:right">
        <select (change)="translate.use($event.target.value)">
            <option value="es">Español</option>
            <option value="fr">Frances</option>
            <option value="en">Ingles</option>
        </select>
    </div>

    <div class="row">
        <h1>{{ title }} <b [innerHTML]="'Hola' | translate"></b> </h1>
    </div>
    <div class="page-header">
        <div class="container">
            <div class="navLinks">
                <a [routerLink]="['/home']">Home</a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

fecha : {{ fecha | async }}