<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
  <div class="form-group">
    <label for="nombre">Nombre del destino</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre de su destino" #nombre
      [formControl]="fg.controls['nombre']" autocomplete="off">

    <ul>
      <li *ngFor="let consulta of SearchResult">
        {{consulta}}
      </li>
    </ul>
    
    <div class="alert alert-danger" role="alert" *ngIf="fg.controls['nombre'].hasError('required')">
      <div>Debe ingresar su nombre</div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">
      <div>El nombre debe tener al menos {{ minLongitud }} de
        largo</div>
    </div>


  </div>
  <div class="form-group">
    <label for="imagen">Url de imagen</label>
    <input type="text" class="form-control" id="imagen" placeholder="Ingresar tiempo de imagen" #url
      [formControl]="fg.controls['url']" autocomplete="off">
    <div *ngIf="!fg.controls['url'].valid">Debe ingresar la url de la imagen</div>
  </div>
  <button class="btn btn-primary" type="submit" *ngIf="fg.valid">Guardar</button>
</form>
